{% extends 'frontview/home.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/homeproductpage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/general.css' %}"> {% endblock styles %} {% block title %}

<title>{{category.name}} Category | SMB Classic Wears Boutique </title>{% endblock title %}
{% block keywords %}
<meta name="keywords" content="{%  for product_type in sorted_product_types%}{{product_type.name}},{% endfor %}" />
{% endblock keywords %}
{% block banner %}{% endblock banner %} {% block main %}
<h1>{{category.name}}s</h1>

<input type="text" placeholder="Filter products by name" id="filterInput">
<div class="filters">
    
    <div>
        <label  style='text-align: center;border-bottom: 1px solid black;' for="category">Category:</label>
        <select style="text-transform: capitalize;" name="Category" id="category_options">
            <option value="default">Category</option>
            {% for p in product_types %}
                 
                {% if p.name == p_type %}
                <option value="{{p.name}}" selected>{{p.name}}</option>
                {% else %}
                <option value="{{p.name}}">{{p.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
   
    <div>
        <label style='text-align: center;border-bottom: 1px solid black;'  for="brands">Brand:</label>
        <select style="text-transform: capitalize;" name="brands" id="brands_options">
            <option value="default">Brands</option>
            {% for brand in brands %}
                
                {% if brand == brand_ %}
                <option  value="{{brand}}" selected >{{brand}}</option>
                {% else %}
                <option  value="{{brand}}">{{brand}}</option>
                {% endif %}
                    
                
            {% endfor %}
        </select>    
    </div>
   
  
</div>


<div id="decisionBox">
    <p>Do you want to:</p>
    <a href="" class="continue">Continue Shopping</a>
    <a href="" class="checkout">checkout</a>
</div>

<div class="products">
    {% for product,sizes in products %}

    {% if sizes %}
        {% include "frontview/product_template.html" %}
    {% endif %}
    
    {% endfor %} 
    {% comment %} <p>{{sorted_product_types}}</p> {% endcomment %}

    {% comment %} {% for product_type in sorted_product_types %} {% for product in product_type.product_type.all %}
     {% if product.publish %} {% include "frontview/product_template.html" %} {% endif %} {% endfor %} {% endfor %} {% endcomment %}
</div>
{% endblock main %}