<div id="product" class="product">
    <h3 id='{{product.id}}-{{product.product_type.p_group}}-name'>{{product.name}}</h3>
    <img src="{{product.image.url}}" alt="{{product.product_type.name}} image"> 

    <div style="display: flex; flex-wrap: wrap;margin-bottom: 10px;">
        <div style="text-transform:capitalize;width: 49%; text-align: left;">Category: {{product.product_type.name}}  </div>
        <div style="text-transform:capitalize;width: 49%; text-align: right">Type: {{product.type}}</div>
        <div style="text-transform:capitalize;width: 100%; text-align: center"> Color: {{product.color}} </div>
    
    </div>
    {% comment %} <p>Brand: {{product.brand}}</p>
    <p>Type: {{product.type}}</p>
    <p style="text-transform:capitalize;">Color: {{product.color}} </p> {% endcomment %}
    
    {% if sizes > 1 %}
        <div id='{{product.id}}-{{product.product_type.p_group}};selectBox' class="selectBox">
        <select>
        <option>Select size(s)</option>
      </select>
        <div class="overSelect"></div>
    </div>
    <div id='{{product.id}}-{{product.product_type.p_group}}checkboxes' class="checkboxes">
        {% for size in sizes %}
        <div class="multiple">
            <input type="checkbox" name="{{product.id}}-{{product.product_type.p_group}}checkbox" id={{size.id}} data-data={{size.id}};{{size.price}};{{size.size}} />
            <label for={{size.id}}>Size: {{size.size}} - &#8358 <span class="amount">{{size.price}}</span></label>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div id='{{product.id}}-{{product.product_type.p_group}}checkboxes'>
        
        {% for size in sizes %}
             <input type="checkbox" checked name="{{product.id}}-{{product.product_type.p_group}}checkbox" 
            id={{size.id}} data-data={{size.id}};{{size.price}};{{size.size}} style="display: none;" />
            <p> Size: {{size.size}} - &#8358 <span class="amount">{{size.price}}</span></p>
        {% endfor %}
            
    </div>
    {% endif %}
        
    
    {% comment %} <p style="display: none;" id='{{product.id}}productData'>{{product.product_type.name}};{{product.color}};{{product.brand}};{{product.type}}</p> {% endcomment %}
    
    
    {% comment %} <p>{{product.description}}</p> {% endcomment %}
    <p style="font-weight:600;font-size: 12px">Product Meta: </p>
    <p id='{{product.id}}-{{product.product_type.p_group}}-dis'
             style="margin-top: -11px; font-size: 14px;
            text-transform: capitalize; text-align: justify;">{{product.get_details}}</p>
    <p id='{{product.id}}-{{product.product_type.p_group}}-other' style="display: none"> {{product.product_type.name}};{{product.product_type.category}}</p>
    <p class="product_meta" id='{{product.id}}-{{product.product_type.p_group}}-meta'  style="display: none">{{product.get_meta}}</p>
    {% comment %} <p class="meta" style="margin-top: -11px; font-size: 14px; display: none;"></p> {% endcomment %}
    <button class="addToCartButton addbutton" id='{{product.id}}-{{product.product_type.p_group}}'>Add to Cart</button>
</div>