<div class="product">
    <div id="product">
        {% comment %} <h3>{{}}</h3>
        <p>{{product.product_type.category.name}}</p> {% endcomment %}
        <h3>{{product.name}}</h3>
        <img src="{{product.image.url}}" alt="{{product.product_type.name}} image" 
        style="width: 100%;height: 200px;object-fit: contain;"> 
        <div class="product_flex" style="margin-bottom: 10px;">
        <div style="display: flex;">
        <div style="text-transform:capitalize;width: 49%; text-align: left;"><b>Category:</b> <br/> {{product.product_type.name}}  </div>
        <div style="text-transform:capitalize;width: 49%; text-align: center"><b>Type:</b> <br/> {{product.type}}</div>
        </div>
        </div>
        {% if product.color %}
            <p class="colour" style="text-transform:capitalize;width: 100%;
             text-align: center;margin-top:3px;">Color: {{product.color}}</p>
        {% endif %}

        {% if sizes %}

        <div id='{{product.id}};selectBox' class="selectBox">
            <select>
        <option>Select size(s)</option>
      </select>
            <div class="overSelect"></div>
        </div>
        <div id='{{product.id}}checkboxes' class="checkboxes">
            {% for size in sizes %}
            <div class="multiple">
                <input type="checkbox" name="{{product.id}}checkbox" id={{size.id}} data-data={{size.id}};{{size.price}};{{size.size}} />
                <label for={{size.id}}>size: {{size.size}} - &#8358 <span class="amount">{{size.price}}</span></label>
            </div>
            {% endfor %}
        </div>
        <p style="display: none;" id='{{product.id}}productData'>{{product.id}};{{product.product_type.name}};{{product.product_type.category.name}}</p>
        {% endif %}
        {% comment %} <br/> {% endcomment %}
        {% comment %} <p id="meta-{{product.id}}" style="font-size: 15px;"></p> {% endcomment %}
        <p style="text-transform: capitalize;text-align: justify;">{{product.get_details}}</p>
        <button style="margin-left: 31%; margin-top:5px;" class="addToCartButton addbutton" id={{product.id}}>Add to Cart</button>
    </div>
</div>