<div class="product">
    <div id="product">
        {% comment %} <h3>{{}}</h3>
        <p>{{product.product_type.category.name}}</p> {% endcomment %}
        <h3>{{product.brand}} {{product.product_type.category.name}}</h3>

        <div class="product_flex" style="margin-bottom: 10px;">
        {% if product.color %}
            <p class="colour" style="text-transform: capitalize;">{{product.color}}</p>
        {% endif %}
            
        <p style="text-transform: capitalize;">Category: {{product.product_type.name}}</p>
        </div>
        

        {% if product.sizes.all %}

        <div id='{{product.id}};selectBox' class="selectBox">
            <select>
        <option>Select size(s)</option>
      </select>
            <div class="overSelect"></div>
        </div>
        <div id='{{product.id}}checkboxes' class="checkboxes">
            {% for size in product.sizes.all %}
            <div class="multiple">
                <input type="checkbox" name="{{product.id}}checkbox" id={{size.id}} data-data={{size.id}};{{size.price}};{{size.size}} />
                <label for={{size.id}}>size: {{size.size}} - &#8358 <span class="amount">{{size.price}}</span></label>
            </div>
            {% endfor %}
        </div>
        <p style="display: none;" id='{{product.id}}productData'>{{product.id}};{{product.product_type.name}};{{product.product_type.category.name}}</p>
        {% endif %}
        {% comment %} <br/> {% endcomment %}
        {% comment %} <p id="meta-{{product.id}}" style="font-size: 15px;"></p> {% endcomment %}
        <p style="text-transform: capitalize;text-align: justify;">{{product.get_details}}</p>
        <button style="margin-left: 40px; margin-top:5px;" class="addToCartButton addbutton" id={{product.id}}>Add to Cart</button>
    </div>
</div>