{% extends 'sales/sales.html' %} {% load static %} {% block title %}
<title>Range Sales</title>{% endblock title %} {% block main %}
<h1>{{title}}</h1>
<div>
    <div style="margin-top: 30px;" id="salesList">
        <table>
            <thead>
                <tr>
                    <th colspan="9">Store Sales Summary</th>
                </tr>
                <tr>
                    <th>SN</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Color</th>
                    <th>Product meta</th>
                    <th>Total Quantity</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in store_sales.summary %}
                <tr>
                    <td class="sn"></td>
                    <td><a href="{% url 'sales:salesAnalysisView' branch.id item.items__date  %}">
                    {{item.items__date}}</a></td>
                    
                    {% for product_item in products_data %}

                            {% if product_item.id == item.suit and product_item.p_group == item.p_group %}
                                <td>{{product_item.category}}</td>
                                <td>{{product_item.name}}</td>
                                <td>{{product_item.brand}}</td>
                                <td>{{product_item.color}}</td>
                                <td style="font-size: 14px;">{{product_item.get_details}}</td>
                            {% endif %}

                            {% if product_item.id == item.product and product_item.p_group == item.p_group %}
                                <td>{{product_item.category}}</td>
                                <td>{{product_item.name}}</td>
                                <td>{{product_item.brand}}</td>
                                <td>{{product_item.color}}</td>
                                <td style="font-size: 14px;">{{product_item.get_details}}</td>
                            {% endif %}

                            {% if product_item.id == item.top and product_item.p_group == item.p_group %}
                                <td>{{product_item.category}}</td>
                                <td>{{product_item.name}}</td>
                                <td>{{product_item.brand}}</td>
                                <td>{{product_item.color}}</td>
                                <td style="font-size: 14px;">{{product_item.get_details}}</td>
                            {% endif %}

                            {% if product_item.id == item.foot_wear and product_item.p_group == item.p_group %}
                                <td>{{product_item.category}}</td>
                                <td>{{product_item.name}}</td>
                                <td>{{product_item.brand}}</td>
                                <td>{{product_item.color}}</td>
                                <td style="font-size: 14px;">{{product_item.get_details}}</td>
                            {% endif %}
                        {% endfor %}    

                    <td>{{item.total_qty}}</td>
                    <td class="amount"> {{item.total_amount}}</td>

                </tr>
                {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th colspan="7">Grand Total</th>
                    <th class="amount">{{store_sales.total_amount.total}}</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div style="margin-top: 30px;" id="salesList">
        <table>
            <thead>
                <tr>
                    <th colspan="9">Credit Sales Summary</th>
                </tr>
                <tr>
                    <th>SN</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Color</th>
                    <th>Product meta</th>
                    <th>Total Quantity</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in credit_sales.summary %}
                <tr>
                    <td class="sn1"></td>
                    <td><a href="{% url 'sales:salesAnalysisView' branch.id item.credit_sale_Items__date  %}">{{item.credit_sale_Items__date}}</a></td>
                    
                     {% for product_item in products_data %}

                            {% if product_item.id == item.suit and product_item.p_group == item.p_group %}
                                <td>{{product_item.category}}</td>
                                <td>{{product_item.name}}</td>
                                <td>{{product_item.brand}}</td>
                                <td>{{product_item.color}}</td>
                                <td style="font-size: 14px;">{{product_item.get_details}}</td>
                            {% endif %}

                            {% if product_item.id == item.product and product_item.p_group == item.p_group %}
                                <td>{{product_item.category}}</td>
                                <td>{{product_item.name}}</td>
                                <td>{{product_item.brand}}</td>
                                <td>{{product_item.color}}</td>
                                <td style="font-size: 14px;">{{product_item.get_details}}</td>
                            {% endif %}

                            {% if product_item.id == item.top and product_item.p_group == item.p_group %}
                                <td>{{product_item.category}}</td>
                                <td>{{product_item.name}}</td>
                                <td>{{product_item.brand}}</td>
                                <td>{{product_item.color}}</td>
                                <td style="font-size: 14px;">{{product_item.get_details}}</td>
                            {% endif %}

                            {% if product_item.id == item.foot_wear and product_item.p_group == item.p_group %}
                                <td>{{product_item.category}}</td>
                                <td>{{product_item.name}}</td>
                                <td>{{product_item.brand}}</td>
                                <td>{{product_item.color}}</td>
                                <td style="font-size: 14px;">{{product_item.get_details}}</td>
                            {% endif %}
                        {% endfor %}    

                    <td>{{item.total_qty}}</td>
                    <td class="amount">{{item.total_amount}}</td>

                </tr>
                {% endfor %}


            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th colspan="7">Total</th>
                    <th class="amount">{{credit_sales.total_amount.total}}</th>
                </tr>
            </tfoot>
        </table>
    </div>

    {% if request.user.is_admin %}
    <div style="margin-top: 30px;" id="salesList">
        <table>
            <thead>
                <tr>
                    <th colspan="10">Online Sales Summary</th>
                </tr>
                <tr>
                    <th>SN</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Color</th>
                    <th>Product meta</th>
                    <th>Total Quantity</th>
                    <th>Total Amount</th>
                    <th>Logistics</th>
                </tr>
            </thead>
            <tbody>
                {% for item in online_sales.summary %}
                <tr>
                    <td class="sn2"></td>
                    <td><a href="{% url 'sales:salesAnalysisView' branch.id item.items__date  %}">{{item.items__date}}</a></td>
                    
                      {% for product_item in products_data %}

                            {% if product_item.id == item.suit and product_item.p_group == item.p_group %}
                                <td>{{product_item.category}}</td>
                                <td>{{product_item.name}}</td>
                                <td>{{product_item.brand}}</td>
                                <td>{{product_item.color}}</td>
                                <td style="font-size: 14px;">{{product_item.get_details}}</td>
                            {% endif %}

                            {% if product_item.id == item.product and product_item.p_group == item.p_group %}
                                <td>{{product_item.category}}</td>
                                <td>{{product_item.name}}</td>
                                <td>{{product_item.brand}}</td>
                                <td>{{product_item.color}}</td>
                                <td style="font-size: 14px;">{{product_item.get_details}}</td>
                            {% endif %}

                            {% if product_item.id == item.top and product_item.p_group == item.p_group %}
                                <td>{{product_item.category}}</td>
                                <td>{{product_item.name}}</td>
                                <td>{{product_item.brand}}</td>
                                <td>{{product_item.color}}</td>
                                <td style="font-size: 14px;">{{product_item.get_details}}</td>
                            {% endif %}

                            {% if product_item.id == item.foot_wear and product_item.p_group == item.p_group %}
                                <td>{{product_item.category}}</td>
                                <td>{{product_item.name}}</td>
                                <td>{{product_item.brand}}</td>
                                <td>{{product_item.color}}</td>
                                <td style="font-size: 14px;">{{product_item.get_details}}</td>
                            {% endif %}
                        {% endfor %}    
                    <td>{{item.total_qty}}</td>
                    <td class="amount">{{item.total_amount}}</td>
                    <td></td>
                </tr>
                {% endfor %}


            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th colspan="7">Total</th>
                    <th class="amount">{{online_sales.total_amount.total}}</th>
                    <th class="amount">{{online_sales.total_amount.logistics}}</th>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="7">Grand Total</th>
                    <th colspan='2' class="amount">{{online_sales.total_amount.total|add:online_sales.total_amount.logistics}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    {% endif %}
</div>
{% endblock main %} {% block javascript %}
<script src="{% static 'javascript/daysales.js' %}"></script>
{% endblock javascript %}